UnityCommon/Codes/**/bin/**
UnityCommon/Codes/**/obj/**
UnityCommon/**/.vs/**
UnityCommon/**/.vsconfig
UnityCommon/**/.idea/**
UnityCommon/**/.vscode/**
UnityCommon/**csproj.user
UnityCommon/Project/Temp/
UnityCommon/Project/Logs/
UnityCommon/Project/obj/
UnityCommon/Project/Library/
UnityCommon/Project/UserSettings/
UnityCommon/ProjectLink/
UnityCommon/*.pyc
UnityCommon/Project/**.csproj
UnityCommon/Project/**.sln
UnityCommon/Project/Assets/XLua/Gen/
UnityCommon/Project/Assets/AddressableBundles/